__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
dist/
build/
data/
installer_output/
.cache/

#   RECURSIVE __pycache__ EVERYWHERE
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

models/*.pt
models/*.pth
models/segmentation_2/nnUNet_results/Dataset001_BoneRegion/nnUNetTrainer_50epochs__nnUNetPlans__2d/fold_0/checkpoint_best.pth